/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

hr {
    border-color: lightgray
}

.nav-pills > li > a {
    color: lightgray;
}

#pills-tab {
    padding-bottom: 5px;
    padding-top: 5px;
}

.fab {
    border-radius: 50%;
    bottom: 60px;
    right: 10vw;
    position: fixed;
    z-index: 1;
}

.fa-star {
    color: gold;
}

.menu-item :hover {
    background-color: gray;
    color: white;
    text-shadow: 1px 1px darkgray;
}
